.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.service{
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__head{
  margin: 0;
  padding: 1.5rem;
  background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 2rem;
}
.service-container{
  display: grid;
  gap: 2rem;
  width: 90%;
  margin: auto;
  
}

.service-content{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 3rem;
  align-items: center;
  text-align: center;
  background-color: #F8B195;
  transition: all 1s ease-in-out;
  border: aqua 1px solid;
  box-sizing: border-box;
  background-image: linear-gradient( 179.1deg,  rgba(247,238,238,1) -1.9%, rgba(247,202,201,1) 44.9%, rgba(145,168,208,1) 96.1% );
}
.service-content:hover{
  filter: sepia(60%);
  box-shadow:
    0 0 0 0.125rem #00ffff,
    0 0 0 0.25rem #00ffff,
    0 0 0.5rem 0 #2f2e2e,
    0 0 0.75rem 0 #2f2e2e;
}
.service__img-container{
  width: 100%;
}

.service__img{
  width:100%;
}

.service__title{
  margin: 0;
  color: #355C7D;
}
.service__description{
  color: #6C5B7B;
  margin: 0;
}

.service__boton{
  padding: 1.5rem;
  background-color: #F67280;
  border-radius: 50%;
  text-decoration: none;
  color:rgb(53, 50, 50);
}

@media (min-width:600px){
  .service-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1000px){
.service-container{
  grid-template-columns: 1fr 1fr 1fr;
}

}