.equipo {
  background-color: var(--bg-color);
  width: 100%;
  text-align: center;
}

.equipo-container {
  padding-bottom: 2rem;
  padding: var(--padding-container);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  
  gap: 1rem;
  max-width: 800px;
  margin:0 auto;
}

.equipo__titulo {
  /* margin:1rem; */
  font-size: var(--font-size-big);
  color: var(--font-light-color);
}

.equipo__miembro-container {
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 300px;
}

.equipo__miembro-foto {
  filter: grayscale(1);
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: filter .75s ease;
}

.equipo__miembro-container:hover .equipo__miembro-foto {
  filter: none;
}

.equipo__miembro-description {
  color:var(--font-light-color);
}

.equipo__miembro-nombre {
  font-size: var(--font-size-medium);
}

.equipo__miembro-subtitle {
  font-size: var(--font-size-small);
}

@media (min-width: 992px) {
  .equipo-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.equipo__miembro-foto-hover {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity .30s ease;
}