:root {
	--bg-color: #2b303a;
	--bg-color-2: #D9D9D9;
	--primary-color: #e5eaed;
	--secondary-color: #5bc0eb;
	--tertiary-color: #fff689;
	--gradient: linear-gradient(90deg,
			var(--tertiary-color) 0%,
			var(--secondary-color) 70%);
	--gradient-inverse: linear-gradient(90deg,
			var(--secondary-color) 0%,
			var(--tertiary-color) 70%);
	--font-light-color: #fff;
	--font-dark-color: rgb(37, 37, 37);
	--font-family: "JetBrains Mono", monospace;
	--shadow-color: #2b303a40;
	--box-shadow: 0px .5px 5px var(--shadow-color);
	--box-shadow-hover: -5px 5px 10px var(--shadow-color);

	--text-shadow:-1px .5px var(--shadow-color);
	--font-size-big: 3rem;
	--font-size-medium: 1.1rem;
	--font-size-small: .9rem;
	--padding-container: 3rem 2rem 3rem 2rem;
	--padding-items: 1rem;
	--padding-buttons:0.5em 1em;
	--gap-container: 1rem;
}